
#ok1 {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
    max-height: 700px; /* Set the maximum height as needed */
    margin-top: 30px; /* Adjust this value to move the image lower */


  }
  

  h2.title_title__DWL5N.title_titleSizeL__4C9l9.title_titleWeightBold__838EK.title_titleFamilyInter__Ra6_Q.title_titleAlignCenter__POwgZ {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -1.2105px;
	line-height: 49px;
	text-align: center;
	word-break: break-word;
}



h3.text_text__cG3pf.text_textWeightRegular__lAQvj.text_textSizeBody__4q5Cs.text_textAlignCenter__3fEIx {
    box-sizing: border-box;
    color: #121212;
    cursor: default;
    font-family:
      inter-var,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Helvetica,
      "Apple Color Emoji",
      Arial,
      sans-serif,
      "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 0.009px;
    line-height: 1.5; /* Adjust the line-height value to control spacing between lines */
    font-weight: 500;
    text-align: center;
    white-space:calc();

  }
  


a.InlineTextLink_inlineLink__oN8YM.InlineTextLink_colorTheme__waxe8.InlineTextLink_underlineOnHover__J78xW {
	border-radius: 5px;
	box-sizing: border-box;
	color: #076097;
	cursor: pointer;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	line-height: 24px;
	position: relative;
	text-align: center;
	text-decoration: underline solid #076097;
    margin-left: 45%;
}



h2#\:R2j5kmm\:.title_title__DWL5N.title_titleSizeL__4C9l9.title_titleWeightBold__838EK.title_titleFamilyInter__Ra6_Q {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -1.2105px;
	line-height: 49px;
	text-align: center;
	white-space: pre-line;
	word-break: break-word;
}


img#giantPencilIllustrationPng.next-image {
	aspect-ratio: auto 217 / 183;
	box-sizing: border-box;
	cursor: default;
	display: inline;
	overflow: clip;
    margin-left: 45%;
}





h2#\:R1dlkmm\:.title_title__DWL5N.title_titleSizeL__4C9l9.title_titleWeightBold__838EK.title_titleFamilyInter__Ra6_Q {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 45px;
	font-weight: 700;
	letter-spacing: -1.2105px;
	line-height: 49px;
	text-align: center;
	white-space: pre-line;
	word-break: break-word;
}




p.text_text__cG3pf.text_textWeightRegular__lAQvj.text_textSizeBody__4q5Cs {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	letter-spacing: 0.008px;
	line-height: 23px;
	text-align: center;
	white-space: pre-line;
}




a.InlineTextLink_inlineLink__oN8YM.InlineTextLink_colorTheme__waxe8.InlineTextLink_underlineOnHover__J78xW {
	border-radius: 5px;
	box-sizing: border-box;
	color: #076097;
	cursor: pointer;
	display: inline;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	line-height: 24px;
	position: relative;
	text-align: center;
	text-decoration: underline solid #076097;
	white-space: pre-line;
}




h2#\:R1n5kmm\:.title_title__DWL5N.title_titleSizeXxl__aKcmF.title_titleWeightBold__838EK.title_titleFamilyInter__Ra6_Q {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 61px;
	font-weight: 700;
	letter-spacing: -1.9215px;
	line-height: 65px;
	text-align: center;
	white-space: pre-line;
	word-break: break-word;
}



p.text_text__cG3pf.text_textWeightRegular__lAQvj.text_textSizeBody__4q5Cs {
	box-sizing: border-box;
	color: #121212;
	cursor: default;
	font-family:
		inter-var,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Helvetica,
		"Apple Color Emoji",
		Arial,
		sans-serif,
		"Segoe UI Emoji",
		"Segoe UI Symbol";
	letter-spacing: 0.008px;
	line-height: 23px;
	text-align: center;
	white-space: pre-line;
}




#bottomImage {
    position:relative;
    bottom: 20px; /* Adjust this value for the desired margin from the bottom */
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    height: auto;
    border-radius: 4%;
    outline: white;
  }
  

 

  #sanu {
    align-self: flex-start;
    aspect-ratio: auto 670 / 330;
    box-sizing: border-box;
    cursor: default;
    justify-self: flex-start;
    max-height: 30%; /* Adjust this value for the desired maximum height */
    max-width: 50%; /* Adjust this value for the desired maximum width */
    object-fit: cover;
    object-position: 0% 0%;
    overflow: clip;
    place-self: flex-start;
    z-index: 1;
    margin-left: 22%;
  }
  